@if (Model != null && Model.Count != 0)
{
    <h2 class="text-center">Following</h2>
    @foreach (User item in Model)
    {
        @await Html.PartialAsync("_Following", item)
        <hr />
    }

}
else
{
    <h4 class="text-center"> Following list is empty </h4>
}
