<h2 class="text-center">Your friends</h2>

<br>
<div class="text-center">
    <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Friend" asp-action="FindFriends">Find new friend</a>
</div>
<br>

@if (Model != null && Model.Count != 0)
{
    @foreach (User item in Model)
    {
        @await Html.PartialAsync("_Following", item)
        <hr />
        }

}
else
{
    <h4 class="text-center"> Friends list is empty </h4>
}

