<h2>Your friends</h2>

<br>
<a class="btn btn-sm btn-primary" asp-area="" asp-controller="Friend" asp-action="FindFriends">Find new friend</a>
<br>

@if (Model != null && Model.Count != 0)
{

    @foreach (User item in Model)
    {
        <div>
            <img src=@item.ImagePath alt="User photo" width="300" height="250" />
            <h4>@item.Name @item.Surname</h4>
            <p>@item.UserName</p>
        </div>
    }

}
else
{
    <h4> Friends list is empty </h4>
}

