@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@if (Model != null && Model.Count != 0)
{
<h2 class="text-center">@Localizer["Followers"]</h2>
    @foreach (User item in Model)
    {
        @await Html.PartialAsync("_Follower", item)
        <hr />
    }

}
else
{
        <h4 class="text-center"> @Localizer["empty"] </h4>          
}
